@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

* {
  /* outline: 1px solid red; */
}

:root {
  --primary-color: #033e4c;
  --secondary-color: #ebac56;
  --accent-color: #df4422;
  --black: #151515;
  --white: #eeefea;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--white);
  font-family: "Lora", serif;
}

.container {
  margin: auto;
  max-width: 1400px;
}

header {
  margin-top: 32px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  padding: 0 150px;
  box-sizing: border-box;
  border-radius: 12px;
}

nav h1 {
  font-family: "Berkshire Swash", serif;
}

nav li {
  list-style-type: none;
}

nav ul {
  display: flex;
  gap: 42px;
}

nav button {
  outline: none;
  background: none;
  border: none;
  font-size: 22px;
  color: var(--secondary-color);
  font-family: "Lora", serif;
}

nav button:hover {
  color: var(--accent-color);
}

.logo {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  font-size: 22px;
}
